@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'),
    url(../fonts/Roboto-Regular.woff2),
    url(../fonts/Roboto-Regular.woff);
} 

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    src: local('Roboto'),
    url(../fonts/Roboto-Light.woff2),
    url(../fonts/Roboto-Light.woff);
} 

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'),
    url(../fonts/Roboto-Bold.woff2),
    url(../fonts/Roboto-Bold.woff);
} 

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 100;
    src: local('Roboto'),
    url(../fonts/Roboto-Thin.woff2),
    url(../fonts/Roboto-Thin.woff);
} 

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    src: local('Roboto'),
    url(../fonts/Roboto-Medium.woff2),
    url(../fonts/Roboto-Medium.woff);
} 