* {
    font-family: 'Roboto','Arial', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    color: gray;
    padding-top: 20px;
    font-size: 12px;
}

.contact {
    display: flex;
    justify-content: end;
}


.contact_item {
  padding: 10px;
} 

.data_begin{
    margin-right: auto;
}

.contact_link {
    padding: 5px;
}

.contact_item > a {
    text-decoration: none;
    font-weight: 400;
    color: gray;
}

.name {
    text-align: center;
    font-size: 72px;
    color: #363636;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 15px;
}

.menu {
    background-color: #363636;
    border-radius: 5px;
    display: flex;
    padding-left: 20px;
}

.menu_item {
    padding: 20px;
}

.menu_item > a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.title {
    font-weight: 700;
    font-size: 45px;
    color: #363636;
}

.text {
    font-size: 20px;
}

.picture_big_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.img_small_list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.container_main {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
} 

.container_events {
    width: 810px;
}

.events {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #ccc7c7;
}

.events_title {
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 3px solid black;
    width: max-content;
}

.events_row {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.events_img {
    position: relative;
    width: 360px;
    height: 190px;
    margin-bottom: 5px;
}

.events_bg1 {
    background: url(../img/Tile-Big-01.png) 0 0 / cover;
}

.events_bg2 {
    background: url(../img/Tile-Big-02.png) 0 0 / cover;
}

.events_bg3 {
    background: url(../img/Tile-Big-03.png) 0 0 / cover;
}

.events_bg4 {
    background: url(../img/Tile-Big-04.png) 0 0 / cover;
}

.events_section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    width: 80px;
    height: 20px;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
    font-size: 12px;
}

.color1 {
    background-color: #5cc08c;
}

.color2 {
    background-color: #468eda;
}

.color3 {
    background-color: #c075b8;
}

.color4 {
    background-color: #e1b173;
    width: 100px;
}

.events_name {
    font-size: 16px;
}

.events_data {
    font-size: 12px;
    color: gray;
    margin-top: 5px;
}

.block {
    margin: 100px auto;
    margin-bottom: 20px;
    width: 250px;
    height: 70px;
    border: none;
    background-color: #5cbd5c;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    color: #f4f4f4;
    border-radius: 5px;
  }

.wrapper {
    max-width: 350px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.social_network {
    border: 2px solid #ccc7c7;
    padding: 20px;
}

.social_network_list {
    display:flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}

.social_network_list_item {
    margin: 20px;
}

.social_network_img {
    padding-bottom: 15px;
    max-width: 45px;
}

.social_network_list_item > a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.users {
    border: 2px solid #ccc7c7;
    margin-top: 40px;
    padding: 20px;
    height: 100%;
}

.wrapper_title {
    margin: 0;
    padding-bottom: 4px;
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    width: max-content;
    border-bottom: 3px solid black;
}

.wrapper_title::after {
    display: flex;
    content: '';
    background-color:gray;
    width: 306px;
    height: 1px;
    position: absolute;
    bottom: -2px;
}

.users_list {
    margin-top: 40px;
    margin-bottom: 40px;
}

.users_list_item {
    display: flex;
    margin-bottom: 15px;
    width: 180px;
}

.users_img {
    margin-right: 5px;
}

.users_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.users_name {
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
}

.users_profession {
    font-size: 14px;
    color: gray;
    margin: 0;
}

.video {
    margin-top: 30px;
    background-color:#f4f4f4;
    padding: 20px;
}

.video_list {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
}

.video_img {
    width: 280px;
    height: 200px;
}

.video_bg1 {
    background: url(../img/video-01.png) 0 0 / cover;
}

.video_bg2 {
    background: url(../img/video-02.png) 0 0 / cover;
}

.video_bg3 {
    background: url(../img/video-03.png) 0 0 / cover;
}

.video_bg4 {
    background: url(../img/video-04.png) 0 0 / cover;
}

.video_title {
    margin: 0;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 3px solid black;
    width: max-content;
}

.container_news_reg {
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.news {
    border: 2px solid #ccc7c7;;
    padding: 20px 150px 40px 20px;
}

.news_list_item {
    display: flex;
    margin: 10px 0;
}

.news_img {
    margin-right: 15px;
}

.news_info {
    display: flex;
    flex-direction: column;
}

.news_name {
    text-transform: uppercase;
    font-size: 20px;
}

.news_text {
    color: gray;
    font-size: 14px;
}

.news_data {
    padding-top: 15px;
    font-size: 12px;
    color:gray;
}

.registration {
    border: 2px solid #ccc7c7;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.registration_text {
    font-size: 14px;
    font-weight: 700;
    color: gray;
    width: 175px;
    margin-top: 25px;
}

.form {
    margin: 0 auto;
}

.input {
    margin-top: 15px;
}

.field {
    line-height: 40px;
    width: 292px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 10px;
}

.field::placeholder {
    color: rgb(167, 167, 167);
}

.block_button {
    display: flex;
    margin-top: 20px;
}

.button {
    margin-left: auto;
    padding: 10px;
    cursor: pointer;
    width: 125px;
    height: 50px;
    background-color: #5cbd5c;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: #f4f4f4;
}

.footer {
    background-color: #363636;
}

.footer p {
    text-align: center;
    color:rgba(207, 197, 197, 0.731);
    font-size: 14px;
    padding: 50px 100px
}

